<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>Sometimes unreliable Timeserver</name>
  <service>
    <type>_ntp._udp</type>
    <port>123</port>
  </service>
</service-group>
